In [45]:
conx.close()

In [2]:
import pyodbc
import pandas as pd

connection_string = (
        'DRIVER={SQL Server};'
        'SERVER=DESKTOP-MVGO5U1\\SQLEXPRESS;'
        'DATABASE=vishaldb;'
        'UID=vishal;'
        'PWD=Vishal;' 
        "Trusted_Connection=yes" 
    ) 
conx=pyodbc.connect(connection_string)

In [3]:
sql_query= ("EXEC usp_get_data_sales")
df_data_sales=pd.read_sql(sql_query,conx)
print(df_data_sales)

   id table_name prev_time_stamp
0   1      sales      1990-01-01

C:\Users\HP\AppData\Local\Temp\ipykernel_18264\2908861785.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_data_sales=pd.read_sql(sql_query,conx)

In [ ]:
sql_query=("EXEC usp_get_cdc_data employee")
df_data_employee=pd.read_sql(sql_query,conx)
df_data_employee_new=df_data_employee['prev_time_stamp']

In [40]:
sql_query=("EXEC usp_get_cdc_data employee")
df_data_employee=pd.read_sql(sql_query,conx)
df_data_employee_new=df_data_employee['prev_time_stamp']

C:\Users\HP\AppData\Local\Temp\ipykernel_13260\142203593.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_data_employee=pd.read_sql(sql_query,conx)

In [41]:
df_data_employee_new.item()

'1990-01-02'

In [42]:
sql_query=f"EXEC usp_get_emp '{df_data_employee_new.item()}'"
df_sales=pd.read_sql(sql_query,conx)
df_sales

C:\Users\HP\AppData\Local\Temp\ipykernel_13260\3274057178.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sales=pd.read_sql(sql_query,conx)

,eid,name,number,depid,create_by,create_date,modfiy_by,modify_date
0,10,ravi,76787678,171,vishal,1990-01-01,vishal,1990-01-10
1,11,rramabhivi,7678788,102,abhi,1990-05-01,abhbay,1990-11-10

In [43]:
# import datetime class from datetime module
from datetime import datetime

# get today's date
today = datetime.now()
print(today)

2024-08-22 06:20:12.750161

In [44]:
sql_query= f"EXEC usp_update_cdc 'sales','{today}'"

In [21]:
print(sql_query)

EXEC usp_update_cdc 'employee','2024-08-22 06:01:05.710261'

In [32]:
pd.read_sql(sql_query,conx)

C:\Users\HP\AppData\Local\Temp\ipykernel_13260\3723767210.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(sql_query,conx)

,eid,name,number,depid,create_by,create_date,modfiy_by,modify_date
0,10,ravi,76787678,171,vishal,1990-01-01,vishal,1990-01-10
1,11,rramabhivi,7678788,102,abhi,1990-05-01,abhbay,1990-11-10

In [23]:
sql_query=("EXEC usp_get_data_performance")
df_data_performance=pd.read_sql(sql_query,conx)
print(df_data_performance)

   id   table_name prev_time_stamp
0   2  performance      1990-02-02

C:\Users\HP\AppData\Local\Temp\ipykernel_13260\4154920267.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_data_performance=pd.read_sql(sql_query,conx)

In [33]:
sql_query=("EXEC usp_get_emp")
df_employee=pd.read_sql(sql_query,conx)
df_employee.info()

C:\Users\HP\AppData\Local\Temp\ipykernel_13260\1517126522.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employee=pd.read_sql(sql_query,conx)

DatabaseError: Execution failed on sql 'EXEC usp_get_emp': ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Procedure or function 'usp_get_emp' expects parameter '@timestamp', which was not supplied. (201) (SQLExecDirectW)")

In [8]:
sql_query="EXEC usp_get_performance"
df=pd.read_sql(sql_query,conx)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   eid          7 non-null      int64
 1   salary       7 non-null      int64
 2   greade       7 non-null      object
 3   create_by    2 non-null      object
 4   create_date  2 non-null      object
 5   modfiy_by    2 non-null      object
 6   modify_date  2 non-null      object
dtypes: int64(2), object(5)
memory usage: 524.0+ bytes

C:\Users\HP\AppData\Local\Temp\ipykernel_16024\71705387.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(sql_query,conx)

In [9]:
sql_query="EXEC usp_get_cdc"        #cdc dataframe
df_cdc=pd.read_sql(sql_query,conx)
df_cdc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3 non-null      int64
 1   table_name       3 non-null      object
 2   prev_time_stand  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

C:\Users\HP\AppData\Local\Temp\ipykernel_16024\3324563334.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cdc=pd.read_sql(sql_query,conx)

In [10]:
sql_query="SELECT * FROM performance"
df_performance=pd.read_sql(sql_query,conx)
df_performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   eid          7 non-null      int64
 1   salary       7 non-null      int64
 2   greade       7 non-null      object
 3   create_by    2 non-null      object
 4   create_date  2 non-null      object
 5   modfiy_by    2 non-null      object
 6   modify_date  2 non-null      object
dtypes: int64(2), object(5)
memory usage: 524.0+ bytes

C:\Users\HP\AppData\Local\Temp\ipykernel_16024\1462137708.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_performance=pd.read_sql(sql_query,conx)

In [11]:
import sqlalchemy as sal
server ='DESKTOP-MVGO5U1\\SQLEXPRESS'
mydatabase='vishaldb'
myuserid='vishal'
mypassword='Vishal'
driver='SQL Server'

In [12]:
import urllib
params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};"
                                 "SERVER=DESKTOP-MVGO5U1\\SQLEXPRESS;"
                                 "DATABASE=vishaldb;"
                                 "UID=vishal;"
                                 "PWD=Vishal;"
                                 "Trusted_Connection=yes")

In [13]:
engine= sal.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [14]:
conn=engine.connect()

In [15]:

df_sales.rename(columns={'id':'eid'},inplace=True)
df_performance.rename(columns={'greade':'grade'},inplace=True)
print(df_data_sales)

   id table_name prev_time_stand
0   1      sales      1990-01-01

In [16]:
df_data_sales.to_sql('sales',con=engine,index=False,if_exists='append')

ProgrammingError: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'table_name'. (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'prev_time_stand'. (207); [42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Statement(s) could not be prepared. (8180)")
[SQL: INSERT INTO sales (id, table_name, prev_time_stand) VALUES (?, ?, ?)]
[parameters: (1, 'sales', '1990-01-01')]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [23]:
df_finall=pd.concat([df_sales,df_employee,df_performance],ignore_index=True)

In [24]:
df_finall=df_sales.merge(df_employee,on='eid',how='inner').merge(df_performance,on='eid',how='inner')

In [26]:
df_finall.to_sql('stage_incentive',con=engine,index=False , if_exists='replace')

5

In [27]:
sql_query=("EXEC usp_merge_incentive")

In [28]:
conx.execute(sql_query)

In [29]:
sql_query=("EXEC final_incentive")
conx.execute(sql_query)