In [89]:
import pyodbc
import pandas as pd

connection_string = (
        'DRIVER={SQL Server};'
        'SERVER=DESKTOP-MVGO5U1\\SQLEXPRESS;'
        'DATABASE=vishaldb;'
        'UID=vishal;'
        'PWD=Vishal;' 
        "Trusted_Connection=yes" 
    ) 
conx=pyodbc.connect(connection_string)

In [90]:
sql_query="EXEC usp_get_sales"
df_sales=pd.read_sql(sql_query,conx)
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   sales   5 non-null      int64
dtypes: int64(2)
memory usage: 212.0 bytes

C:\Users\HP\AppData\Local\Temp\ipykernel_5360\2061886225.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sales=pd.read_sql(sql_query,conx)

In [93]:
sql_query=("EXEC usp_get_emp")
df_employee=pd.read_sql(sql_query,conx)
df_employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     9 non-null      int64
 1   name    9 non-null      object
 2   number  9 non-null      int64
dtypes: int64(2), object(1)
memory usage: 348.0+ bytes

C:\Users\HP\AppData\Local\Temp\ipykernel_5360\1517126522.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employee=pd.read_sql(sql_query,conx)

In [92]:
sql_query="EXEC usp_get_performance"
df=pd.read_sql(sql_query,conx)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     5 non-null      int64
 1   salary  5 non-null      int64
 2   greade  5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

C:\Users\HP\AppData\Local\Temp\ipykernel_5360\71705387.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(sql_query,conx)

In [74]:
sql_query="SELECT * FROM performance"
df_performance=pd.read_sql(sql_query,conx)
df_performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     5 non-null      int64
 1   salary  5 non-null      int64
 2   greade  5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

C:\Users\HP\AppData\Local\Temp\ipykernel_5360\1462137708.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_performance=pd.read_sql(sql_query,conx)

In [75]:
import sqlalchemy as sal
server ='DESKTOP-MVGO5U1\\SQLEXPRESS'
mydatabase='vishaldb'
myuserid='vishal'
mypassword='Vishal'
driver='SQL Server'

In [76]:
import urllib
params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};"
                                 "SERVER=DESKTOP-MVGO5U1\\SQLEXPRESS;"
                                 "DATABASE=vishaldb;"
                                 "UID=vishal;"
                                 "PWD=Vishal;"
                                 "Trusted_Connection=yes")

In [77]:
engine= sal.create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [78]:
conn=engine.connect()

In [79]:
df_sales.info()
df_employee.info()
df_performance.info()

df_sales.rename(columns={'id':'eid'},inplace=True)
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   sales   5 non-null      int64
dtypes: int64(2)
memory usage: 212.0 bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     9 non-null      int64
 1   name    9 non-null      object
 2   number  9 non-null      int64
 3   depid   9 non-null      int64
dtypes: int64(3), object(1)
memory usage: 420.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     5 non-null      int64
 1   salary  5 non-null      int64
 2   greade  5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     5 non-null      int64
 1   sales   5 non-null      int64
dtypes: int64(2)
memory usage: 212.0 bytes

In [85]:
df_finall=pd.concat([df_sales,df_employee,df_performance],ignore_index=True)

In [86]:
df_finall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     19 non-null     int64
 1   sales   5 non-null      float64
 2   name    9 non-null      object
 3   number  9 non-null      float64
 4   depid   9 non-null      float64
 5   salary  5 non-null      float64
 6   greade  5 non-null      object
dtypes: float64(4), int64(1), object(2)
memory usage: 1.2+ KB

In [88]:
df_finall.to_sql('stage_incentive',con=engine,index=False , if_exists='replace')

19